/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* BODY */
body {
    font-family: Arial;
    background: lightsteelblue;
    color: #f8fafc;
}

/* HEADER */
header {
    text-align: center;
    padding: 15px;
    background: #020617;
    border-bottom: 2px solid #0ea5e9;
}

header h2 {
    color: #38bdf8;
}

/* NAV */
nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav a {
    color: #e2e8f0;
    margin: 8px 12px;
    text-decoration: none;
    position: relative;
    transition: 0.3s;
}

nav a:hover {
    color: #0ea5e9;
}

/* HERO */
.hero {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(rgba(15,23,42,0.7), rgba(15,23,42,0.7)),
    url('https://images.unsplash.com/photo-1557838923-2985c318be48') center/cover;
}

.hero-content {
    background: rgba(2,6,23,0.7);
    padding: 40px;
    border-radius: 10px;
}

/* BUTTON */
.btn {
    padding: 10px 20px;
    background: #0ea5e9;
    color: white;
    border-radius: 20px;
    text-decoration: none;
}

.btn:hover {
    background: #38bdf8;
}

/* CONTAINER */
.container {
    padding: 40px 15px;
    text-align: center;
}

/* CARDS */
.cards {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 100%;
    max-width: 280px;
    background: #1e293b;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #334155;
    transition: 0.3s;
}

.card img {
    width: 100%;
}

.card h3, .card p {
    padding: 10px;
}

.card:hover {
    transform: translateY(-10px);
}

/* TABLE */
.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #1e293b;
}

table, th, td {
    border: 2px solid black;
}

th {
    background: #0ea5e9;
}

td, th {
    padding: 10px;
}

/* STATS */
.stats {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
}

/* CONTACT FORM */
.contact-form {
    max-width: 400px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    background: #1e293b;
    border: 1px solid #334155;
    color: white;
    border-radius: 5px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #0ea5e9;
    outline: none;
}

button {
    padding: 10px;
    background: #0ea5e9;
    border: none;
    color: white;
}

button:hover {
    background: #38bdf8;
}

/* MAP */
.map iframe {
    width: 100%;
    height: 250px;
    margin-top: 20px;
}

/* FOOTER */
footer {
    background: #020617;
    text-align: center;
    padding: 10px;
}

/* RESPONSIVE */
@media(min-width:768px) {
    .stats {
        flex-direction: row;
        justify-content: space-around;
    }
}
