/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* BODY */
body {
    font-family: Arial;
    background: grey;
    color: #f8fafc;
}

/* HEADER */
header {
    text-align: center;
    padding: 20px;
    background: #020617;
    border-bottom: 2px solid #0ea5e9;
}

header h2 {
    margin-bottom: 10px;
    color: #38bdf8;
}

/* NAV */
nav a {
    color: #e2e8f0;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #0ea5e9;
}

/* HERO */
.hero {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(15,23,42,0.7), rgba(15,23,42,0.7)),
    url('https://images.unsplash.com/photo-1557838923-2985c318be48') center/cover;
}

.hero-content {
    background: rgba(2,6,23,0.7);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

/* BUTTON */
.btn {
    padding: 10px 20px;
    background: #0ea5e9;
    color: white;
    text-decoration: none;
    border-radius: 20px;
}

.btn:hover {
    background: #38bdf8;
}

/* CONTAINER */
.container {
    padding: 60px 20px;
    text-align: center;
}

/* CARDS */
.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    background: #1e293b;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
    border: 1px solid #334155;
}

.card img {
    width: 100%;
}

.card h3, .card p {
    padding: 10px;
}

.card:hover {
    transform: translateY(-10px);
    border-color: #0ea5e9;
}

/* TABLE */
table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    background: #1e293b;
    color: white;
}

table, th, td {
    border: 2px solid black;
}

th {
    background: #0ea5e9;
}

td, th {
    padding: 12px;
}

tr:hover {
    background: #334155;
}

/* STATS */
.stats {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

/* FORM */
form {
    max-width: 400px;
    margin: auto;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #1e293b;
    border: 1px solid #334155;
    color: white;
}

input:focus, textarea:focus {
    outline: none;
    border-color: #0ea5e9;
}

/* BUTTON */
button {
    margin-top: 10px;
    padding: 10px;
    background: #0ea5e9;
    border: none;
    color: white;
}

button:hover {
    background: #38bdf8;
}

/* MAP */
.map iframe {
    width: 100%;
    height: 300px;
    margin-top: 20px;
}

/* FOOTER */
footer {
    background: #020617;
    text-align: center;
    padding: 15px;
    color: #94a3b8;
}

/* RESPONSIVE */
@media(max-width:768px) {
    .stats {
        flex-direction: column;
        gap: 20px;
    }
}
